body{
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: rgba(56, 55, 55, 0.795);
}

<<<<<<< HEAD
body{
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: rgba(56, 55, 55, 0.795);
}

=======
>>>>>>> c2f6989d0a9906cb44a24e281890c8be1e01c13b
#root{
  height:100%;
  width: 100%;
  margin:0%;
}

#page-title{
  display:block;
  width: 96%;
  height: 5%;
  margin: 0% 0% 0% 0%;
  padding: 0% 2%;
  text-align: center;
  font-size: 1rem;

}

.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.singleitem{
<<<<<<< HEAD
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 5%;
}
.singleitem img{
  width: 70%;
}

.singleitem button{
  padding: 5%;
  margin-top: 5%;
=======
  background-color: aqua;
<<<<<<< HEAD

=======
  
>>>>>>> c2f6989d0a9906cb44a24e281890c8be1e01c13b
>>>>>>> c4d95f4ab3bd505da6c131953902ee9632c5092e
}

section{
  width: 47%;
  margin: 1% 0% 1% 0%;
  border: 2px solid rgba(168, 152, 152, 0.849);
  border-radius: 3%;
  text-align: center;
}

.title, .text{
  padding: 0% 2%;
}

.text{
  font-size: 90%;
  word-wrap:break-word;
}

img{
  width: 33%;
}