body{
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: rgba(56, 55, 55, 0.795);
}

#root{
  height:100%;
  width: 100%;
  margin:0%;
}

#page-title{
  display:block;
  width: 96%;
  height: 5%;
  margin: 2% 0% 0% 0%;
  padding: 0% 2%;
  text-align: center;
  font-size: 130%;

}

.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section{
  width: 47%;
  margin: 1% 0% 1% 0%;
  border: 2px solid rgba(168, 152, 152, 0.849);
  border-radius: 3%;
  text-align: center;
}

@media (max-width: 767px) {
  
  h1{
    font-size: 150%;
    text-align: center;
  }
  
  img{
    width:33%;
  }
  
  .singleitem img{
    width: 70%;
  }
}

@media ((min-width: 768px) and (max-width:1451px)){

  h1{
    font-size: 170%;
    text-align: center;
  }

  h1, #desc{
    margin-bottom: 0%;
  }

  p{
    font-size:150%;
  }

  img{
    margin: 0% 20%;
    width: 33%;
  }

  button{
    margin-top: 0%;
  }

}

@media(min-width: 1452px){
  
  h1{
    font-size: 260%;
    text-align: center;
    margin: 1% 0% 0% 0%;
  }
  
  .singleitem h1{
    margin: 0% 0% 0% 0%;
    font-size: 220%
  }

  p{
    font-size:150%;
  }

  img, .singleitem img{
    width: 20%;
  }
  .singleitem img{
    margin: 0% 22%
  }

  .singleitem button{
    margin-top:2%
  }
}

.singleitem{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

button{
  padding: 3%;
  width:41%;
  margin-top: 5%;
  margin-right: 2%;
  font-size:85%;
  border-radius: 8%;
}

.title, .text{
  padding: 0% 2%;
}

.text{
  font-size: 90%;
  word-wrap:break-word;
}

#cat{
  margin-right:10%;
}
